[Desktop Entry]
Name="Condor Cafe"
Comment=Open Condor Cafe
Exec=/home/condor/Proyectos/condor-backend/scripts/activarEpson.sh
Icon=/home/condor/Proyectos/angular-condor/dist/assets/img/plato2.png
Terminal=true
Type=Application
Name[en_US]=Condor_Cafe.desktop
